  .s3-upload {
  position: relative;
  width: 400px;
}
.s3-upload .upload-overlay-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4000;
}
.s3-upload input {
  float: none;
}
.s3-upload .upload-complete {
  font-size: 12px;
  font-style: italic;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  max-width: 300px;
}
.s3-upload img.upload-complete {
  margin-top: 10px;
  display: block;
}
.s3-upload .upload-clear {
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  line-height: 16px;
  font-size: 12px;
}
.s3-upload {
  width: auto;
  padding: 0;
  margin-top: 10px;
}
.s3-upload .upload-clear {
  height: 20px;
  line-height: 20px;
  padding: 0 20px 0 0;
  position: absolute;
  top: 5px;
  right: 0;
  cursor: pointer;
  color: #999;
  border: none;
  background: url(/sites/all/themes/apex/images/trash.gif) top right no-repeat;
}
ul .s3-upload .upload-clear,
ol .s3-upload .upload-clear {
  font-size: 12px;
}
.s3-upload .upload-clear:hover {
  color: #4d4d4d;
  background-position: bottom right;
}
ul .s3-upload .upload-complete,
ol .s3-upload .upload-complete {
  font-size: 12px;
}
.s3-upload .upload-progress,
.s3-upload .upload-complete {
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
}
.s3-upload .upload-complete {
  background: #fff;
  padding: 5px 10px;
  margin-left: 0px;
  line-height: 14px;
}
.s3-upload .upload-progress {
  background: transparent url(/misc/progress.gif);
  border: 2px solid #666;
  display: none;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  overflow: hidden;
  margin: 9px 0 0 6px;
  position: absolute;
  border: 0;
  height: 21px;
  width: 160px;
}
.s3-upload .upload-progress span {
  background-color: #2789C5;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3799D5), to(#175995));
  background: -moz-linear-gradient(top, #3799D5, #175995);
  border-radius: 10px;
  -moz-border-radius: 10px;
  height: 21px;
  -webkit-transition: width 0.3s ease-in-out;
  display: block;
  width: 0;
}
.s3-upload .form-submit {
  position: relative;
  z-index: 1;
}
.s3-upload .form-submit {
  display: inline;
  margin-top: 0;
}